# Spark API Minilesson

In [1]:
import pandas as pd
import numpy as np

np.random.seed(13)

import pyspark

#create the spark session 
spark = pyspark.sql.SparkSession.builder.getOrCreate()

### 1. Spark Dataframe Basics

**i. Use the starter code above to create a pandas dataframe.**

In [2]:
pandas_dataframe = pd.DataFrame({
    "n": np.random.randn(20),
    "group": np.random.choice(list("xyz"), 20),
    "abool": np.random.choice([True, False], 20),
})

**ii.  Convert the pandas dataframe to a spark dataframe. From this point forward, do all of your work with the spark dataframe, not the pandas dataframe.**

In [3]:
#convert any pandas dataframe into a spark dataframe with a simple method call
df = spark.createDataFrame(pandas_dataframe)

**iii.  Show the first 3 rows of the dataframe.**

In [4]:
# use .show to view first three rows
df.show(3)

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
|  -0.712390662050588|    z|false|
|   0.753766378659703|    x|false|
|-0.04450307833805...|    z|false|
+--------------------+-----+-----+
only showing top 3 rows

**iv. Show the first 7 rows of the dataframe.**

In [5]:
# use .show to view first seven rows
df.show(7)

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
|  -0.712390662050588|    z|false|
|   0.753766378659703|    x|false|
|-0.04450307833805...|    z|false|
| 0.45181233874578974|    y|false|
|  1.3451017084510097|    z|false|
|  0.5323378882945463|    y|false|
|  1.3501878997225267|    z|false|
+--------------------+-----+-----+
only showing top 7 rows

**v. View a summary of the data using .describe.**

In [6]:
df.describe().show()

+-------+------------------+-----+
|summary|                 n|group|
+-------+------------------+-----+
|  count|                20|   20|
|   mean|0.3664026449885217| null|
| stddev|0.8905322898155363| null|
|    min|-1.261605945319069|    x|
|    max|2.1503829673811126|    z|
+-------+------------------+-----+

**vi. Use `.select` to create a new dataframe with just the `n` and `abool` columns. View the first 5 rows of this dataframe.**

In [7]:
# create a new dataframe with two columns: 'n' and 'abool'
df.select(df.n, df.abool).show(5)

+--------------------+-----+
|                   n|abool|
+--------------------+-----+
|  -0.712390662050588|false|
|   0.753766378659703|false|
|-0.04450307833805...|false|
| 0.45181233874578974|false|
|  1.3451017084510097|false|
+--------------------+-----+
only showing top 5 rows

**vii. Use `.select` to create a new dataframe with just the `group` and `abool` columns. View the first 5 rows of this dataframe.**

In [8]:
# create a new dataframe with two columns: 'group' and 'abool'
df.select(df.group, df.abool).show(5)

+-----+-----+
|group|abool|
+-----+-----+
|    z|false|
|    x|false|
|    z|false|
|    y|false|
|    z|false|
+-----+-----+
only showing top 5 rows

**viii. Use `.select` to create a new dataframe with the `group` column and the `abool` column renamed to `a_boolean_value`. Show the first 3 rows of this dataframe.**

In [9]:
# create a new dataframe with two columns: 'group' and 'abool', but rename abool
df.select(df.group, df.abool.alias("a_boolean_value")).show(3)

+-----+---------------+
|group|a_boolean_value|
+-----+---------------+
|    z|          false|
|    x|          false|
|    z|          false|
+-----+---------------+
only showing top 3 rows

**ix. Use `.select` to create a new dataframe with the `group` column and the `n` column renamed to `a_numeric_value`. Show the first 6 rows of this dataframe.**

In [10]:
# create a new dataframe with two columns: 'group' and 'n', but rename n
df.select(df.group, df.n.alias("a_numeric_value")).show(6)

+-----+--------------------+
|group|     a_numeric_value|
+-----+--------------------+
|    z|  -0.712390662050588|
|    x|   0.753766378659703|
|    z|-0.04450307833805...|
|    y| 0.45181233874578974|
|    z|  1.3451017084510097|
|    y|  0.5323378882945463|
+-----+--------------------+
only showing top 6 rows

### 2. Column Manipulation

**i. Use the starter code above to re-create a spark dataframe. Store the spark dataframe in a varaible named `df`**

In [11]:
#create the spark session 
spark = pyspark.sql.SparkSession.builder.getOrCreate()

In [12]:
#create data frame 
df = pd.DataFrame({
    "n": np.random.randn(20),
    "group": np.random.choice(list("xyz"), 20),
    "abool": np.random.choice([True, False], 20),
})

In [13]:
from pydataset import data

#convert to spark dataframe:
df = spark.createDataFrame(df)

In [14]:
df.n + 4

Column<'(n + 4)'>

**2. Use `.select` to add 4 to the `n` column. Show the results.**

In [15]:
df.select(df.n + 4).show(5)

+------------------+
|           (n + 4)|
+------------------+
|3.1149379007131692|
| 4.072726746112778|
|  3.17248089880026|
| 3.408449078116781|
|1.8137843744202362|
+------------------+
only showing top 5 rows

**iii. Subtract 5 from the `n` column and view the results.**

In [16]:
df.select(df.n - 5).show(5)

+------------------+
|           (n - 5)|
+------------------+
|-5.885062099286831|
|-4.927273253887222|
| -5.82751910119974|
|-5.591550921883219|
|-7.186215625579764|
+------------------+
only showing top 5 rows

**iv. Multiply the `n` column by 2. View the results along with the original numbers.**

In [17]:
df.select(df.n, df.n * 2).show(5)

+-------------------+-------------------+
|                  n|            (n * 2)|
+-------------------+-------------------+
|-0.8850620992868307|-1.7701241985736613|
|0.07272674611277782|0.14545349222555565|
|  -0.82751910119974|  -1.65503820239948|
| -0.591550921883219| -1.183101843766438|
| -2.186215625579764| -4.372431251159528|
+-------------------+-------------------+
only showing top 5 rows

**v. Add a new column named `n2` that is the `n` value multiplied by -1. Show the first 4 rows of your dataframe. You should see the original `n` value as well as `n2`.**

In [18]:
df.select('*').show()

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
| -0.8850620992868307|    x|false|
| 0.07272674611277782|    x| true|
|   -0.82751910119974|    x|false|
|  -0.591550921883219|    y|false|
|  -2.186215625579764|    y| true|
| -1.4304503608169532|    y| true|
|0.001182616633274...|    y| true|
|-0.15241870550020373|    z| true|
|  1.4418010391482912|    z|false|
|-0.18492174250837645|    x| true|
| -0.2298977614525365|    x|false|
| -0.2633773007599446|    y| true|
|-0.08286224131163808|    x| true|
|-0.38505688002448574|    x|false|
|-0.10105117176246801|    z| true|
| 0.33115422310589987|    y|false|
| 0.04329942581647413|    z|false|
|-0.44997653600849435|    z| true|
|  0.3471981374467132|    y|false|
|  1.4591000886192282|    z| true|
+--------------------+-----+-----+

In [19]:
n2 = (df.n *-1).alias('n2')
df = df.select('*',n2)

In [20]:
df.show(4)

+-------------------+-----+-----+--------------------+
|                  n|group|abool|                  n2|
+-------------------+-----+-----+--------------------+
|-0.8850620992868307|    x|false|  0.8850620992868307|
|0.07272674611277782|    x| true|-0.07272674611277782|
|  -0.82751910119974|    x|false|    0.82751910119974|
| -0.591550921883219|    y|false|   0.591550921883219|
+-------------------+-----+-----+--------------------+
only showing top 4 rows

**vi. Add a new column named `n3` that is the n value squared. Show the first 5 rows of your dataframe. You should see both `n`, `n2`, and `n3`.**

In [21]:
n3 = (df.n**2).alias('n3')
df = df.select(n, n2, n3).show(5)

NameError: name 'n' is not defined

**vii. What happens when you run the code below?**

        ```python
        df.group + df.abool
        ```

In [22]:
pd
df.group + df.abool

# two separate columns are created with values
df.show(5)

+-------------------+-----+-----+--------------------+
|                  n|group|abool|                  n2|
+-------------------+-----+-----+--------------------+
|-0.8850620992868307|    x|false|  0.8850620992868307|
|0.07272674611277782|    x| true|-0.07272674611277782|
|  -0.82751910119974|    x|false|    0.82751910119974|
| -0.591550921883219|    y|false|   0.591550921883219|
| -2.186215625579764|    y| true|   2.186215625579764|
+-------------------+-----+-----+--------------------+
only showing top 5 rows

**viii. What happens when you run the code below? What is the difference between this and the previous code sample?**

        ```python
        df.select(df.group + df.abool)
        ```

In [23]:
pd
df.select(df.group + df.abool)

# creating the column didn't report an error in question #16 above, it's only when we try to select that it throws an error

AnalysisException: cannot resolve '(CAST(`group` AS DOUBLE) + `abool`)' due to data type mismatch: differing types in '(CAST(`group` AS DOUBLE) + `abool`)' (double and boolean).;
'Project [(cast(group#196 as double) + abool#197) AS (group + abool)#283]
+- Project [n#195, group#196, abool#197, (n#195 * cast(-1 as double)) AS n2#243]
   +- LogicalRDD [n#195, group#196, abool#197], false

**ix. Try adding various other columns together. What are the results of combining the different data types?**

In [24]:
# just add number or explicitly cast values to these types

# 3. Typecasting

i. Use the starter code above to re-create a spark dataframe.

ii. Use .printSchema to view the datatypes in your dataframe.

In [29]:
df.printSchema()

root
 |-- n: double (nullable = true)
 |-- group: string (nullable = true)
 |-- abool: boolean (nullable = true)
 |-- n2: double (nullable = true)

iii. Use .dtypes to view the datatypes in your dataframe.

In [32]:
df.dtypes

[('n', 'double'), ('group', 'string'), ('abool', 'boolean'), ('n2', 'double')]

iv. What is the difference between the two code samples below?

``df.abool.cast('int')``
``df.select(df.abool.cast('int')).show()``

<font color = 'red'>  The first changes the data type of abool to INT. The second lets us view the column and its values

In [33]:
df.abool.cast('int')

Column<'CAST(abool AS INT)'>

v. Use .select and .cast to convert the abool column to an integer type. View the results.

In [34]:
df.select(df.abool.cast('int')).show()

+-----+
|abool|
+-----+
|    0|
|    1|
|    0|
|    0|
|    1|
|    1|
|    1|
|    1|
|    0|
|    1|
|    0|
|    1|
|    1|
|    0|
|    1|
|    0|
|    0|
|    1|
|    0|
|    1|
+-----+

vi. Convert the group column to a integer data type and view the results. What happens?

<font color = 'red'> all null values -- because they were strings

In [35]:
df.select(df.group.cast('int')).show()

+-----+
|group|
+-----+
| null|
| null|
| null|
| null|
| null|
| null|
| null|
| null|
| null|
| null|
| null|
| null|
| null|
| null|
| null|
| null|
| null|
| null|
| null|
| null|
+-----+

vii. Convert the n column to a integer data type and view the results. What happens?

In [36]:
df.select(df.n.cast('int')).show()

+---+
|  n|
+---+
|  0|
|  0|
|  0|
|  0|
| -2|
| -1|
|  0|
|  0|
|  1|
|  0|
|  0|
|  0|
|  0|
|  0|
|  0|
|  0|
|  0|
|  0|
|  0|
|  1|
+---+

viii. Convert the abool column to a string data type and view the results. What happens?  <font color = 'red'>

In [39]:
df.select(df.abool.cast('string')).show()

+-----+
|abool|
+-----+
|false|
| true|
|false|
|false|
| true|
| true|
| true|
| true|
|false|
| true|
|false|
| true|
| true|
|false|
| true|
|false|
|false|
| true|
|false|
| true|
+-----+

# 4. Built-in Functions

i. Use the starter code above to re-create a spark dataframe.

In [40]:
pandas_dataframe = pd.DataFrame({
    "n": np.random.randn(20),
    "group": np.random.choice(list("xyz"), 20),
    "abool": np.random.choice([True, False], 20),
})

#convert any pandas dataframe into a spark dataframe with a simple method call
df = spark.createDataFrame(pandas_dataframe)

ii. Import the necessary functions from pyspark.sql.functions

In [54]:
from pyspark.sql.functions import asc, desc, col, mean, concat

iii. Find the highest n value.

In [47]:
df.sort(col('n').desc()).show(1)

+-----------------+-----+-----+
|                n|group|abool|
+-----------------+-----+-----+
|1.749241790081012|    z|false|
+-----------------+-----+-----+
only showing top 1 row

iv. Find the lowest n value.

In [48]:
df.sort(col('n').asc()).show(1)

+------------------+-----+-----+
|                 n|group|abool|
+------------------+-----+-----+
|-2.187115273247333|    z|false|
+------------------+-----+-----+
only showing top 1 row

v. Find the average n value.

In [52]:
df.select(mean(df.n)).show()

+--------------------+
|              avg(n)|
+--------------------+
|7.004451110758092E-4|
+--------------------+

vi. Use concat to change the group column to say, e.g. "Group: x" or "Group: y"

In [56]:
df.select(concat(df.group('Group: x '), 'Group: y')).show(5)

TypeError: 'Column' object is not callable

vii. Use concat to combine the n and group columns to produce results that look like this: "x: -1.432" or "z: 2.352"